
.card {
    border-radius: 25px;
    background-color: white;
    box-shadow: 10px 15px 10px #4a4e69;
    width: 92%;
}

.card-title {
    margin-bottom: 0 !important;
    font-family: 'Bebas Neue', cursive;
}

a {
    color: #003049 !important;
    text-decoration: none;
}

small {
    color: lightslategray;
}

p {
    color: rgb(43, 37, 37);
}
