{% extends "layout.html" %}
{% block content %}
<div class="content-section">
    <form method="POST" action="" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Добавление покупателя</legend>
            <div class="form-group">
                {{ form.username.label(class="form-control-label") }}
                {% if form.username.errors %}
                {{ form.username(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.username.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.username(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.year_of_birth.label(class="form-control-label") }}
                {% if form.year_of_birth.errors %}
                {{ form.year_of_birth(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.year_of_birth.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.year_of_birth(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.gender.label(class="form-control-label") }}
                {% if form.gender.errors %}
                {{ form.gender(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.gender.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.gender(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.consent.label(class="form-control-label") }}
                {% if form.consent.errors %}
                {{ form.consent(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.consent.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.consent(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.image_file.label(class="form-control-label") }}
                {% if form.image_file.errors %}
                {{ form.image_file(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.image_file.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.image_file(class="form-control form-control-lg") }}
                {% endif %}
        </fieldset>
        <div class="form-group">
            {{ form.submit(class="btn btn-outline-info") }}
        </div>
    </form>
</div>
{% endblock content %}
