{% extends "layout.html" %}

{% block head %}
  <style>
    .card{
      border-radius: 25px;
      /* border-top-right-radius: 25px;
      border-bottom-left-radius: 25px; */
      background-color:  white;
      box-shadow: 10px 15px 10px #4a4e69;
      width: 92%;
    }

    .card-title{
      margin-bottom: 0 !important;
      font-family: 'Bebas Neue', cursive;
    }

    a{
      color: #003049 !important;
      text-decoration: none;
    }

    small{
      color: lightslategray;
    }

    p{
      color: rgb(43, 37, 37);
    }

    /* i{
      padding: 0px 7px;
      cursor: pointer;
    } */

  </style>
{% endblock head %}

{% block content %}
<a class="btn btn-light mb-3" href="{{ url_for('buyers.new_buyer') }}">Добавить покупателя</a>
    <table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">ФИО</th>
      <th scope="col">Год рождения</th>
      <th scope="col">Пол</th>
      <th scope="col">Дата регистрации</th>
      <th scope="col">Согласие на обработку ПД</th>
      <th scope="col">Действия</th>
    </tr>
  </thead>
  <tbody>
  {% for buyer in buyers.items %}
    <tr>
      <th scope="row">{{ loop.index }}</th>
      <td>{{ buyer.username }}</td>
      <td>{{ buyer.year_of_birth.strftime('%Y') }}</td>
      <td>{{ buyer.gender }}</td>
      <td>{{ buyer.registration_date.strftime('%d %b %Y %I:%M %p') }}</td>
      <td>{{ buyer.consent }}</td>
      <td>
<!--          <a class="btn btn-info" href="{{ url_for('buyers.update_buyer', buyer_id=buyer.id) }}">Изменить</a>-->
          <a class="btn btn-info" href="{{ url_for('buyers.view_buyer', buyer_id=buyer.id) }}">Просмотр</a>
<!--          <a class="btn btn-danger" href="{{ url_for('buyers.delete_buyer', buyer_id=buyer.id) }}">Удалить</a>-->
      </td>
    </tr>
  {% endfor %}
  </tbody>
</table>
  {% for page_num in buyers.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
    {% if page_num %}
      {% if buyers.page == page_num %}
        <a class="btn btn-secondary mb-4" href="{{ url_for('buyers.allbuyers', page=page_num) }}">{{ page_num }}</a>
      {% else %}
        <a class="btn btn-outline-secondary mb-4" href="{{ url_for('buyers.allbuyers', page=page_num) }}">{{ page_num }}</a>
      {% endif %}
    {% else %}
      ...
    {% endif %}
  {% endfor %}
{% endblock content %}
