{% extends "layout.html" %}

{% block head %}
  <style>
    .card{
      border-radius: 25px;
      background-color:  white;
      box-shadow: 10px 15px 10px #4a4e69;
      width: 92%;
    }

    .card-title{
      margin-bottom: 0 !important;
      font-family: 'Bebas Neue', cursive;
    }

    a{
      color: #003049 !important;
      text-decoration: none;
    }

    small{
      color: lightslategray;
    }

    p{
      color: rgb(43, 37, 37);
    }


  </style>
{% endblock head %}

{% block content %}
<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="{{ image_file }}" alt="Buyers image">
  <div class="card-body">
    <h5 class="card-title">{{ buyer.username }}</h5>
    <p class="card-text">Год рождения: {{ buyer.year_of_birth.strftime('%Y') }}</p>
    <p class="card-text">Пол: {{ buyer.gender }}</p>
    <p class="card-text">Дата регистрации: {{ buyer.registration_date.strftime('%d %b %Y %I:%M %p') }}</p>
    <p class="card-text">Согласие на обработку: {{ buyer.consent }}</p>
    <br>
    <a class="btn btn-info" href="{{ url_for('buyers.update_buyer', buyer_id=buyer.id) }}">Изменить</a>
    <a class="btn btn-info" href="{{ url_for('buyers.allbuyers') }}">Все покупатели</a>
    <a class="btn btn-danger" href="{{ url_for('buyers.delete_buyer', buyer_id=buyer.id) }}">Удалить</a>

  </div>
</div>
{% endblock content %}
